.p-menubar {
  border: 1px solid green;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.p-menubar .p-menuitem-link {
  color: #333;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  padding: 10px 20px;
}

.p-menubar .p-menuitem-link:hover {
  background-color: #e9ecef;
  color: #0056b3;
}

.p-menubar .p-menuitem-link:active {
  background-color: #ddeeff;
  color: #004488;
}

.p-menubar .p-submenu-list > .p-menuitem > .p-menuitem-link {
  color: #333;
}

.p-menubar .p-submenu-list > .p-menuitem > .p-menuitem-link:hover {
  background-color: #e9ecef;
  color: #0056b3;
}
.p-button-logout {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 10px;
  transition: background-color 0.2s, box-shadow 0.2s;
  padding: 10px 20px;
}

.p-button-logout:hover {
  background-color: #bd2130;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.p-button-logout:active {
  background-color: #a71d2a;
}

@media (max-width: 768px) {
  .p-button-logout {
    padding: 8px 15px;
  }
}
