.flex-column {
  max-width: 600px;
  width: 100%;
  margin: auto;
}

.card {
  padding: 2rem;
  border-radius: var(--border-radius);
  background-color: var(--surface-ground);
  max-width: 600px;
  width: calc(100% - 40px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: relative;
  border: none;
  margin-left: auto;
}

.card.enter {
  opacity: 0;
  transform: translateY(20px);
}

.card.enter-active {
  opacity: 1;
  transform: translateY(0);
}

.field-radiobutton {
  margin-bottom: 1rem;
  position: relative;
  padding-left: 30px;
}

h2 {
  color: var(--primary-color);
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

h3 {
  font-weight: normal;
  color: var(--text-color-secondary);
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

p-button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 20px;
}

p-button-success {
  background-color: #28a745;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

p-button-success:hover {
  background-color: #218838;
}

@media (max-width: 768px) {
  .flex-column {
    max-width: 100%;
    padding: 1rem;
  }
  .card {
    padding: 1rem;
  }
  .p-button {
    padding: 0.5rem;
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  width: 100%;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  padding-left: 20px;
  position: relative;
  height: 480px;
}


.loading-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-content video, .main-content canvas {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 2;
  display: none;
}
.main-content video.loaded, .main-content canvas {
  display: block;
}

.main-content video:hover {
  transform: scale(1.05);
}

.main-content canvas {
  background-color: transparent;
  z-index: 3;
}

.form-container {
  width: 600px;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column-reverse;
  }

  .main-content video, .card {
    width: 90%;
  }
}
