<div *ngIf="exam" class="container">
  <div class="header-container">
    <h2>{{ exam.titulo }}</h2>
    <p>{{ exam.descripcion }}</p>
  </div>
  <div *ngIf="!cameraLoaded" class="loading-indicator">
    <p-progressSpinner></p-progressSpinner>
    <p>Cargando Cámara...</p>
  </div>

  <div class="main-content">
    <div cdkDrag cdkDragBoundary=".drag-boundary" [cdkDragFreeDragPosition]="{x: 0, y: 0}" class="camera-container">
      <div class="camera-header p-3 text-center shadow-1" *ngIf="cameraLoaded">
      <span class="toggle-camera" (click)="toggleCamera()">
        {{ isCameraMinimized ? 'Mostrar Cámara' : 'Ocultar Cámara' }}
        <i class="pi ml-3" [ngClass]="isCameraMinimized ? 'pi-window-maximize' : 'pi-window-minimize'"></i>
      </span>
      </div>
      <div class="video-container">
        <video #videoElement width="180" height="150" id="video" autoplay muted
               (loadedmetadata)="onCameraLoad()" [class.hidden]="isCameraMinimized" class="small-video"></video>
        <canvas #canvasElement class="small-canvas" [class.hidden]="isCameraMinimized"></canvas>
      </div>
    </div>

    <div class="form-container" *ngIf="cameraLoaded">
      <form (ngSubmit)="onSubmit()" class="card">
        <div *ngIf="exam.preguntas[currentQuestionIndex]" class="mb-4">
          <h3>
            {{ currentQuestionIndex + 1 }}. {{ exam.preguntas[currentQuestionIndex].enunciado }}
            ({{ exam.preguntas[currentQuestionIndex].valor | number:'1.0-1' }} puntos)
          </h3>
          <div class="flex flex-column">
            <div *ngFor="let opcion of exam.preguntas[currentQuestionIndex].opciones" class="field-radiobutton">
              <p-radioButton name="pregunta" [value]="opcion.texto" label="{{ opcion.texto }}"
                             [(ngModel)]="userAnswers[currentQuestionIndex]"></p-radioButton>
            </div>
          </div>
        </div>

        <div class="buttons flex justify-content-between w-full">
          <button type="button" pButton label="Anterior" (click)="goToPreviousQuestion()"
                  [disabled]="currentQuestionIndex === 0" class="p-button-text"></button>
          <button type="button" pButton label="Siguiente" (click)="goToNextQuestion()"
                  [disabled]="currentQuestionIndex === exam.preguntas.length - 1" class="p-button-text"></button>
        </div>

        <div class="submit-button-container" [ngClass]="{ 'no-pointer-events': isSubmitting }">
          <button type="submit" pButton label="Enviar Examen"
                  [disabled]="!allQuestionsAnswered() || currentQuestionIndex !== exam.preguntas.length - 1 || areAlertsVisible || isSubmitting"
                  class="p-button-rounded p-button-success mt-3"></button>
        </div>
      </form>
    </div>
  </div>
</div>
<p-toast (onClose)="clearToast()"></p-toast>
