.flex-column {
  max-width: 600px;
  width: 100%;
  margin: auto;
}

.card {
  padding: 2rem;
  --shadow-2: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: var(--shadow-2);
  border-radius: var(--border-radius);
  border: var(--surface-border);
  background-color: var(--surface-ground);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.field-radiobutton {
  margin-bottom: 1rem;
  position: relative;
  padding-left: 30px;
}

h2 {
  color: var(--primary-color);
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

h3 {
  font-weight: normal;
  color: var(--text-color-secondary);
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.p-button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 20px;
}

.p-button-success {
  background-color: #28a745;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.p-button-success:hover {
  background-color: #218838;
}

@media (max-width: 768px) {
  .flex-column {
    max-width: 100%;
    padding: 1rem;
  }
  .card {
    padding: 1rem;
  }
  .p-button {
    padding: 0.5rem;
  }
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}
.main-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
.main-content video,
.main-content canvas {
  position: absolute;
  top: 0;
  left: 0;
}

video {
  margin-right: 20px;
}

.form-container {
  width: 600px;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }

  video {
    margin-bottom: 20px;
  }
}
