.p-menubar .p-menuitem-link {
  transition: color 0.2s ease, background-color 0.2s ease, text-decoration 0.2s ease;
  padding: 10px 20px;
  font-size: 16px;
}
@media (max-width: 768px) {
  .p-menubar .p-menuitem-link {
    font-size: 14px;
    padding: 8px 15px;
  }
  .p-button-logout {
    padding: 8px 15px;
  }
}
.p-button-logout {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 10px;
  transition: background-color 0.2s, box-shadow 0.2s;
  padding: 10px 20px;
}

.p-button-logout:hover {
  background-color: #bd2130;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.p-button-logout:active {
  background-color: #a71d2a;
}

.p-menubar {
  border: 1px solid green;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
  font-weight: bold;
  color: #CB3234;
}

